[submodule "external/xash3d-fwgs"]
	path = external/xash3d-fwgs
	url = https://github.com/FWGS/xash3d-fwgs.git
[submodule "external/hlsdk-portable"]
	path = external/hlsdk-portable
	url = https://github.com/FWGS/hlsdk-portable.git
[submodule "external/openvgui"]
	path = external/openvgui
	url = https://github.com/FWGS/openvgui.git
